@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* ---------- GENERAL ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 20px;
    background-color: rgb(0, 183, 255);
}

/* ---------- APP ---------- */

#app {
    max-width: 600px;
    margin: 0 auto;
}


.title {
    text-align: center;
    font-weight: 700;
    margin: 30px 0 20px 0;
}

.input-container {
    display: flex;
    justify-content: center;
}

.add-element {
    width: 80%;
    max-width: 80%;
    padding: 10px 20px;
    margin: 0 0 40px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.template {
    display: none;
}

.list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #fff;
}

.list li:last-child {
    border-bottom: none;
}

.list li i {   
    cursor: pointer;
}

